/* Configuración del fondo de partículas */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1; /* Se mantiene atrás de todo */
    top: 0;
    left: 0;
}

/* Efecto Reveal (Animación de aparición) */
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Ajuste del Hero para que sea transparente y deje ver las partículas */
.hero {
    background: transparent !important;
}
